<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header') %>


<body>
  <%- include('../partials/navbar') %>
  <div class="container" style="margin-top: 40px;">
    <%if(user){%>
    <div>
      <form action="/profile/delete?_method=DELETE" method="POST">
        <h4><i class="fa fa-user-circle"></i> Welcome,<%=user.username%>
          <%}%>
      <%if(profile){%>
          <button class="btn" style="float: right;background-color:#039be5 ;">Delete Profile</button></h4>
        <%}%>
       </form>
      
    </div>
   

   
    <%if(!profile){%>
        <h4> Create a developer profile and connect with other developers.</h4>
        <form action="/profile/add">
          <button class="btn waves-effect waves-light " style="background-color: #039be5; margin-top: 10px;"
            type="submit">

            <i class="fa fa-plus"></i> Create Profile</button>
        </form>
        <%}else{%>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-2 index" style="padding-top: 0px;padding-bottom: 1px;">
            <div class="row valign-wrapper">
              <div class="col s4">
                <%if(!profile.Image){%>
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwiHF4OW3y3l3Zyi8f7CFCbuB5GU1c4KTjGQ&usqp=CAU"
                  alt="" class="circle responsive-img">
                <%} else{%>

                <img src="<%=profile.Image%>" alt="" class="circle responsive-img">
                <%}%>
          </div>
          <div class="col s2"></div>
          <div class="col s8" style="margin-top: 0px;">

            <h5 style="font-weight: bold;"><%=profile.Name%>
                <a href="<%=profile.githubusername%>" style="color: black;"> <i class="fab fa-github"></i></a></i></h5>
                <p style="margin-Top:0px;"><%=profile.user.email%> </p>
                <p style="opacity: 50%; font-weight: 700;"><%=profile.Headline%><br>
                  <%=profile.Country%></p>

                <%if(profile.linkedin){%>
                <a href="<%=profile.linkedin%>"> <i class="fab fa-linkedin fa-2x"></i></a> &nbsp;&nbsp;
                <%}%>
            <%if(profile.facebook){%>
                <a href="<%=profile.facebook%>"> <i class="fab fa-facebook fa-2x" style="color:#0277bd"></i></a>
                &nbsp;&nbsp;
                <%}%>
            <%if(profile.Website){%>
                <a href="<%=profile.Website%>"> <i class="fas fa-globe fa-2x" style="color:black"></i></a>

                <br>
                <%}%>
           
            <br><br>
            <a href="/profile/edit" style="color: black;"> <i class="fa fa-edit fa-1x"></i><u> Edit Intro</u> </a>

          </div>


          <div class="col s7" style="display: inline;">
            <%if(profile.skills!==undefined&&profile.skills.length!==0){%>
                <h5>Skills</h5>

                <div>
                  <ul >
                    <%var formattedstring=profile.skills.split(",").join('\n<i class="fa fa-check" ></i>  ')%>
                    <li style="white-space: pre-wrap;"><i class="fa fa-check" ></i> <%- formattedstring %>
                    </li>
                  </ul>
              
                </div>

                <%}%>
          </div>
         


        </div>
      </div>
    </div>

    
    
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-2 index" style="padding-top: 0px;padding-bottom: 1px;">
        
        <div class="row valign-wrapper" >
          
          <div  style="padding-left:29px ;">
           <h5 ><i class="fa fa-graduation-cap" style="opacity: 20%;"></i> Education </h5> 
           
           
           <div  style="padding-left: 40px;">
           <% if(profile.education.length===0){ %>
                <a href="/profile/education/<%=profile._id%>">+ Add your Education history</a>
                <% }else{%>

                <%profile.education.forEach(function(education){%>



                <form action="/profile/<%=profile._id%>/education/<%=education._id%>?_method=DELETE" method="POST">

                  <button class="btn-waves-effect"
                    style="float:right; background-color: transparent;background-repeat:no-repeat; border: none; cursor: pointer;color:#039be5;">
                    <u> Delete this entry</u> </button>

                </form>

                <p style=" font-weight: bold;"> <%=education.School%> </p>


                <p class="timeline-item-sub-title"><%=education.Program%>,<%=education.Degree%>
                  <% if(education.Current=="on") {%>
                  <span style="opacity: 50%; ">| <%=moment(education.StartDate).format('YYYY MMMM')%> -
                    Present</span></p>
                <%}else{%>
                <span style="opacity: 50%;">| <%=moment(education.StartDate).format('YYYY MMMM')%> -
                  <%=moment(education.EndDate).format('YYYY MMMM')%></span></p>
                <%}%>
            <p><%=education.Description%></p>


                <%})%>

                <a href="/profile/education/<%=profile._id%>">+ Add New</a>
                <%}%>
          </div>
        </div>


        </div>
      </div>
    </div>
  
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-2 index" style="padding-top: 0px;padding-bottom: 1px;">
        <div class="row valign-wrapper">
          <div style="padding-left:29px ;">
            <h5><i class="fa fa-briefcase" style="opacity:20%"></i> Work Experience </h5>
           

            <div  style="padding-left: 40px;">
              <% if(profile.workexperience.length===0){ %>
                <a href="profile/experience/<%=profile._id%>">+ Add your work experience</a>
                <% }else{%>

                <%profile.workexperience.forEach(function(work){%>

                <form action="/profile/<%=profile._id%>/experience/<%=work._id%>?_method=DELETE" method="POST">

                  <button class="btn-waves-effect"
                    style="float:right; background-color: transparent;background-repeat:no-repeat; border: none; cursor: pointer;color:#039be5;">
                    <u> Delete this entry</u> </button>

                </form>

                <p style=" font-weight: bold;"> <%=work.Company%> </p>


                <p class="timeline-item-sub-title"><%=work.Role%>
                  <% if(work.Current=="on") {%>
                  <span style="opacity: 50%;">| <%=moment(work.StartDate).format('YYYY MMMM')%> -
                    Present</span></p>
                <%}else{%>
                <span style="opacity: 50%;">| <%=moment(work.StartDate).format('YYYY MMMM')%> -
                  <%=moment(work.EndDate).format('YYYY MMMM')%></span></p>
                <%}%>
                <p><%=work.Description%></p>


                <%})%>

                <a href="/profile/education/<%=profile._id%>">+ Add New</a>
                <%}%>
            </div>
          </div>
        </div>
      </div>
      
    </div>


    <%}%>
              </div>

</body>

</html>